p {
	/* 字体颜色: 茶红色 */
	color:  maroon;
	font-size: 20px
}
	h1, h2 {
	font-family: Arial;
	color: grey;
	font-size: 50px
}

h1 {
	font-family: Arial;
	border-bottom:1px solid black;
}
body {
	font-family: Arial;
	font-size: 1.5em;
}
em {
	font-family: "Cascadia Mono";
}